
.QQbox {
	z-index:99;
	width: 21%;
	left: -262px;
	position: absolute;
}
.QQbox .press {
	left: 0;
	border: none;
	cursor: pointer;
	width: 32px;
	height: 96px;
	position: absolute;
	padding-top:140px;
}
.QQbox .Qlist {
	width: 100%;
	height:100%;
	display:block;
	overflow:hidden;
	/*background:url(../images/music_jiazia.gif) no-repeat;*/
}
.OnlineLeft {
	float:left;
	display:inline;
	width:100%;
	overflow:hidden;
	zoom:1;
}
.switch-player {
    position: absolute;
    top: 10px;
    right: -14px;
    width: 25px;
    height: 90px;
    line-height: 68px;
    text-shadow: none;
    background-color: rgb(255, 255, 255);
    border-radius: 0 5px 5px 0;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
    color: #898989;
    font-size: 2em;
    text-align: center;
    cursor: url(link.cur),pointer;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}
